.container {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.left {
    width : 150px;
    background-color: salmon;
}

.center {
    width : 500px;
    background-color: lightskyblue;
}

.right {
    width : 150px;
    background-color: lightgreen;
}

.left, .center, .right {
    height: 500px;
    float : left;
    padding: 10px;
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}