.container {
    width: 600px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
}

.box {
    width: 80px;
    height: 80px;
    color: white;
    background-color: coral;
    text-align: center;
    line-height: 80px;
    font-size: 3rem;
    margin: 5px;
    float: left;
}
.clear-left {
    clear: left;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}