div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.one {
    background-color: royalblue;
    padding : 10px;
    border: 5px solid red;
}

.two {
    background-color: lightgreen;
    padding : 30px;
    border: 10px dashed orange;
}