.navigasi {
    background-color: pink;
}

.main {
    background-color: lightgreen;
    width: 600px;
}

.main span {
    background-color: lightblue;
}

.main h2 {
    background-color: lightgoldenrodyellow;
}

.navigasi li {
    display: inline;
}

a {
    background-color: lightseagreen;
    width: 100px;
    height: 100px;
    display: inline-block;
}

