/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* style.css */




body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url('img/lilypads.png');
}

.container{
    width : 960px;
    margin: auto;
    background-color: #fff;
}
.header {
    padding: 20px;
}

.header h1.title {
    font-size: 40px;
    font-weight: bold;
}

.header ul.navbar li {
    display: inline-block;
    margin: 5px 5px 10px;
    list-style: none;
}

.header ul.navbar li a {
    text-decoration: none;
    color: coral;
}

.header ul.navbar li a:hover{
    color: lightskyblue;
}

.hero {
    height: 300px;
    border-top: 5px solid coral;
    border-bottom: 5px solid lightskyblue;
    background-image: url('img/hero.jpg');
    background-size: cover;
    overflow:hidden;
}
.content {
    padding-top: 20px;
}
.main {
    width: 600px;
    float:left;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar {
    width: 300px;
    float:right;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar h2{
    font-weight: bold;
    line-height: 1.2em;
    font-size: 1.2em;
}
.content .main h2.title-article{
    font-size: 25px;
}
.content .main .meta-info{
    font-weight: lighter;
    font-size: smaller;
    color: darkgray;
    margin-bottom: 20px;
}
.content .main .meta-info a {
    color: coral;
    text-decoration: none;
    font-style:italic;
}
.content  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
.footer {
    background-color: #333;
    padding: 10px;
    padding-bottom: 15px;
}
.footer p.copyright{
    color:#fff;
    font-style:bold;
    font-size: 14px;
    text-align: center;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
